#{extends 'main.html' /} 
#{set title:"Recherche d'une zone géographique" /}

<div class="row">
    <div class="span12">
    
        <div class="alert alert-info">
            <p>&{'page.searchGeoZone.addcitytxt'} <a href="@{City.view(null)}?name=${params.query}" title="&{'page.searchGeoZone.addcity'}">&{'page.searchGeoZone.addcity'}</a></p>
        </div>
        
        #{form @Search.geoZoneResult(), class:"form-horizontal"}
        
            #{ifErrors}
                <div class="alert alert-error">
                    <p><strong>&{'error'}</strong>&{'error.checkform'}</p>
                </div>
            #{/ifErrors}
            
            <div class="control-group #{ifError 'level'} error #{/ifError}">
                    <label class="control-label">&{'page.searchGeoZone.level'}</label>
                    <div class="controls">
                        <label class="radio" for="level0">
                            <input id="level0" type="radio" name="level" value="0" #{if params['level'] == '0'}checked#{/if} />
                            <span>&{'page.searchGeoZone.level0'}</span>
                        </label>
                        <label class="radio" for="level1">
                            <input id="level1" type="radio" name="level" value="1" #{if params['level'] == '1'}checked#{/if}/>
                            <span>&{'page.searchGeoZone.level1'}</span>
                        </label>
                        <label class="radio" for="level2">
                            <input id="level2" type="radio" name="level" value="2" #{if params['level'] == '2'}checked#{/if}/>
                            <span>&{'page.searchGeoZone.level2'}</span>
                        </label>
                        <label class="radio" for="level3">
                            <input id="level3" type="radio" name="level" value="3" #{if params['level'] == '3'}checked#{/if}/>
                            <span>&{'page.searchGeoZone.level3'}</span>
                        </label>
                        #{if errors.forKey('level')}
                            <span class="help-inline">#{error 'level' /}</span>
                        #{/if}
                    </div>
            </div>
            
            <div class="control-group #{ifError 'query'} error #{/ifError}" >
                <label class="control-label" for="query">&{'page.searchGeoZone.query'}</label>
                <div class="controls">
                    <input id="query" class="input-xlarge" type="text" name="query" value="${params.query}" />
                    #{if errors.forKey('query')}
                        <span class="help-inline">#{error 'query' /}</span>
                    #{/if}
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">&{'page.searchGeoZone.search'}</button>
                <button class="btn" type="reset">&{'cancel'}</button>
            </div>
            
        #{/form}
    </div>
 </div>
 
 <div class="row show-grid">
    
    #{if countries?.size() > 0 || zone1?.size() > 0 || zone2?.size() > 0 || cities?.size() > 0}
    <div class="span12">
        <h3>&{'page.searchGeoZone.searchResult'}</h3>
        #{if countries?.size() > 0} 
            <table class="table table-striped .table-condensed">
                <thead>
                    <tr>
                        <th>&{'page.searchGeoZone.countryCode'}</th>
                        <th>&{'page.searchGeoZone.name'}</th>
                    </tr>  
                </thead>
                <tbody>  
                    #{list items:countries, as:'country'}
                        <tr>
                            <td><a href="@{Card.edit(params.level, country.id)}" title="${country.name}">${country.countryCode}</a></td>
                            <td><a href="@{Card.edit(params.level, country.id)}" title="${country.name}">${country.name}</a></td>
                        </tr>
                    #{/list}
                </tbody>
            </table>
         #{/if}
         #{if zone1?.size() > 0}
            <table class="table table-striped .table-condensed">
                <thead>
                    <tr>
                        <th>&{'page.searchGeoZone.countryCode'}</th>
                        <th>&{'page.searchGeoZone.name'}</th>
                    </tr>  
                </thead>
                <tbody>  
                    #{list items:zone1, as:'zone'}
                        <tr>
                            <td><a href="@{Card.edit(params.level, zone.id)}" title="${zone.name}">${zone.countryCode}</a></td>
                            <td><a href="@{Card.edit(params.level, zone.id)}" title="${zone.name}">${zone.name}</a></td>
                        </tr>
                    #{/list}
                </tbody>
            </table>
         #{/if} 
         #{if zone2?.size() > 0}
            <table class="table table-striped .table-condensed">
                <thead>
                    <tr>
                        <th>&{'page.searchGeoZone.countryCode'}</th>
                        <th>&{'page.searchGeoZone.name'}</th>
                    </tr>  
                </thead>
                <tbody>  
                    #{list items:zone2, as:'zone'}
                        <tr>
                            <td><a href="@{Card.edit(params.level, zone.id)}" title="${zone.name}">${zone.countryCode}</a></td>
                            <td><a href="@{Card.edit(params.level, zone.id)}" title="${zone.name}">${zone.name}</a></td>
                         </tr>
                    #{/list}
                </tbody>
            </table>
         #{/if} 
         #{if cities?.size() > 0}
            <table class="table table-striped .table-condensed">
                <thead>
                    <tr>
                        <th>&{'page.searchGeoZone.countryCode'}</th>
                        <th>&{'page.searchGeoZone.name'}</th>
                        <th></th>
                    </tr>  
                </thead>
                <tbody>  
                    #{list items:cities, as:'city'}
                        <tr>
                            <td><a href="@{Card.edit(params.level, city.id)}" title="${city.name}">${city.countryCode}</a></td>
                            <td><a href="@{cCard.edit(params.level, city.id)}" title="${city.name}">${city.name}</a></td>
                            <td>
                                <a href="@{Card.edit}" title="${city.name}"><img src="@{'/public/images/pencil.png'}"/></a>
                                <a href="@{Card.edit()params.level, city.id)}" title="${city.name}"><img src="@{'/public/images/magnifier.png'}"/></a>
                            </td>
                        </tr>
                    #{/list}
                </tbody>
            </table>
         #{/if}   
    </div>
    #{/if}
    #{else}
        <div class="span12">
            <p><strong>&{'page.searchGeoZone.noResult'}</strong></p>
        </div>
    #{/else}
</div>