body {
	padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.content {
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 -20px;
    padding: 20px;
}
.page-header {
    background-color: #F5F5F5;
    margin: -20px -20px 20px;
    padding: 20px 20px 10px;
}
.show-grid .span14{
	text-align: center;
}
.captcha img{
	margin-left: 130px;
}

div#map{
	margin:0;
	padding:0;
	z-index:0;
	height: 500px;
	background-color:#B5D0D0;
	cursor: pointer;
}

footer p{
	text-align: center;
}

/*
 * rating
 */
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{ background: url("../images/star.gif") left -1000px repeat-x; }
.star-rating{ position:relative; width:125px; height:25px; overflow:hidden; list-style:none; margin:0; padding:0; background-position: left top; display:block; float:left;}
.star-rating li{ display: inline; margin:0; padding:0; }
.star-rating a, 
.star-rating .current-rating{ position:absolute; top:0; left:0; text-indent:-1000em; height:25px; line-height:25px; outline:none; overflow:hidden; border: none; }
.star-rating a.stars-1{ width:20%; z-index:6; }
.star-rating a.stars-2{ width:40%; z-index:5; }
.star-rating a.stars-3{ width:60%; z-index:4; }
.star-rating a.stars-4{ width:80%; z-index:3; }
.star-rating a.stars-5{ width:100%; z-index:2;}
.star-rating .current-rating{ z-index:1; background-position: left center; }	
.inline-rating{	display:-moz-inline-block; display:-moz-inline-box; display:inline-block; vertical-align: middle; }
.small-star{ width:50px; height:10px;}
.small-star,
.small-star .current-rating{background-image: url("../images/star.gif");	line-height: 10px; height: 10px;}

#card ul li {clear:both;}
#card h2 { text-align: center;}

p.center{ text-align: center; }
#barfull{ width:100%; }
#user-menu{float:right;}
.navbar #user-menu > li > a {float:left;}
#avatar{height: 32px;float:left;padding-top: 3px;}
