#{extends 'main.html' /} 
#{set title:"Ajout d'une ville" /}

<div class="row">
    <div class="span12">
            
        <h2>${name}</h2>
        <br/><br/>
        #{form @City.save(), class:"form-horizontal"}
        
            #{ifErrors}
                <div class="alert alert-error">
                    <p><strong>&{'error'}</strong>&{'error.checkform'}</p>
                </div>
            #{/ifErrors}
             #{if flash.success}
                <div class="alert alert-success">
                    <p>${flash.success}</p>
                </div>
            #{/if}
            
	    #{if city && city.id != ""}
	      <input type="hidden" name="city.id" value="${city?.id}"/>
	    #{/if}
            
            <div class="control-group #{ifError 'city.name'}error#{/ifError}">
                <label class="control-label" for="name">&{'page.addcity.name'}</label>
                <div class="controls">
                    <input class="span6" type="text" id="name" name="city.name" placeholder="Name" value="${city?.name}"/>
                    #{if errors.forKey('city.name')}
                        <span class="help-inline">#{error 'city.name' /}</span>
                    #{/if}
                </div>
            </div>
            
            <div class="control-group #{ifError 'city.countryCode'}error#{/ifError}">
                <label class="control-label" for="country">&{'page.addcity.country'}</label>
                <div class="controls">
                    <input class="span6" type="text" id="country" name="city.countryCode" placeholder="FRA" value="${city?.countryCode}"/>
                    #{if errors.forKey('city.countryCode')}
                        <span class="help-inline">#{error 'city.countryCode' /}</span>
                    #{/if}
                </div>
            </div>
            
            <div class="control-group #{ifError 'city.longitude'}error#{/ifError}">
                <label class="control-label" for="longitude">&{'page.addcity.longitude'}</label>
                <div class="controls">
                    <input class="span6" type="text" id="longitude" name="city.longitude" placeholder="" value="${city?.longitude}"/>
                    #{if errors.forKey('city.longitude')}
                        <span class="help-inline">#{error 'city.longitude' /}</span>
                    #{/if}
                </div>
            </div>
            
            <div class="control-group #{ifError 'city.latitude'}error#{/ifError}">
                <label class="control-label" for="latitude">&{'page.addcity.latitude'}</label>
                <div class="controls">
                    <input class="span6" type="text" id="latitude" name="city.latitude" placeholder="" value="${city?.latitude}"/>
                    #{if errors.forKey('city.latitude')}
                        <span class="help-inline">#{error 'city.latitude' /}</span>
                    #{/if}
                </div>
            </div>
            
            <div class="control-actions">
                <button class="btn btn-primary" type="submit">&{'page.opendataCard.save'}</button>
            </div>
            
        #{/form}    
    
    </div>

</div>