<h2>
    ${_card?.name} 
    #{if _rss!="true"}
        <a href="@{Card.edit(_zoneId, _level)}" title="&{'page.opendataCard.edit'}">
            <i class="icon-edit"></i>
        </a>
        <a href="@{Card.history(_zoneId, _level)}" title="&{'page.opendataCard.history'}">
            <i class="icon-info-sign"></i>
        </a>
     #{/if}
</h2>
<ul class="unstyled">
    #{if _status=='true'}
     <li>
            <strong>&{'page.opendataCard.status'} :</strong>
            #{if _card?.status == 0}
                N/A
            #{/if}
            #{if _card?.status == 1}
                &{'page.opendataCard.status.inprogress'}
            #{/if}
            #{if _card?.status == 2}
                &{'page.opendataCard.status.ok'}
            #{/if}
        </li>
    #{/if}
    #{if _card?.url}
        <li>
            <strong>&{'page.opendataCard.url'} :</strong>
            <a href="${_card?.url}" title="${_card?.name}">${_card?.url}</a>
        </li>
    #{/if}
    #{if _card?.plateform}
        <li>
            <strong>&{'page.opendataCard.plateforme'} :</strong>
            #{if _card2?.plateform}
                ${_card?.plateform.compare(_card2?.plateform).raw()}
            #{/if}
            #{else}
                ${_card?.plateform}
            #{/else}
        </li>
    #{/if}
    #{if _card?.license}
        <li>
            <strong>&{'page.opendataCard.license'} :</strong>
            #{if _card2?.license}
                ${_card?.license.compare(_card2?.license).raw()}
            #{/if}
            #{else}
                ${_card?.license}
            #{/else}
        </li>
    #{/if}
    #{if _card?.numOfData}
        <li>
            <strong>&{'page.opendataCard.numOfData'} :</strong>
            #{if _card2?.numOfData}
                ${_card?.numOfData.compare(_card2?.numOfData).raw()}
            #{/if}
            #{else}
                ${_card?.numOfData}
            #{/else}
        </li>
    #{/if}
    #{if _card?.opening}
        <li>
            <strong>&{'page.opendataCard.opening'} :</strong>
            #{if _card2?.opening}
                ${_card?.opening?.format('dd/MM/yyyy').compare(_card2?.opening?.format('dd/MM/yyyy')).raw()}
            #{/if}
            #{else}
                ${_card?.opening?.format('dd/MM/yyyy')}
            #{/else}
        </li>
    #{/if}
    #{if _card?.lastUpdate}
        <li>
            <strong>&{'page.opendataCard.lastUpdate'} :</strong>
             #{if _card2?.lastUpdate}
                ${_card?.lastUpdate?.format('dd/MM/yyyy').compare(_card2?.lastUpdate?.format('dd/MM/yyyy')).raw()}
            #{/if}
            #{else}
                ${_card?.lastUpdate?.format('dd/MM/yyyy')}
            #{/else}
        </li>
    #{/if}
    #{if _card?.bernersLeeRate}
        <li>
            #{if _rss=='true'}
                <strong>&{'page.opendataCard.bernersLeeRate'} :</strong>
                ${_card.bernersLeeRate}/5
            #{/if}
            #{else}
                <ul class="star-rating">
                    <li class="current-rating" style="width:${_card.bernersLeeRate.rate()}%">${_card.bernersLeeRate}/5</li>
                    <li><a title="&{'page.opendataCard.bernersLeeRate'}" class="stars-1" href="#">1</a></li>
                    <li><a title="&{'page.opendataCard.bernersLeeRate'}" class="stars-2" href="#">2</a></li>
                    <li><a title="&{'page.opendataCard.bernersLeeRate'}" class="stars-3" href="#">3</a></li>
                    <li><a title="&{'page.opendataCard.bernersLeeRate'}" class="stars-4" href="#">4</a></li>
                    <li><a title="&{'page.opendataCard.bernersLeeRate'}" class="stars-5" href="#">5</a></li>
                </ul>
            #{/else}
        </li>
    #{/if}
    <li><br class="breaker" /></li>
    #{if card?.contacts}
        <li>
            <strong>&{'page.opendataCard.contacts'}</strong><br/>
            #{if _card2?.contacts}
                ${_card?.contacts.compare(_card2?.contacts).raw()}
            #{/if}
            #{else}
                ${_card?.contacts}
            #{/else}
            <br/><br/>
        </li>
    #{/if}
    #{if _card?.dataOwners}
        <li>
            <strong>&{'page.opendataCard.dataOwners'}</strong><br/>
            #{if _card2?.dataOwners}
                ${_card?.dataOwners.compare(_card2?.dataOwners).raw()}
            #{/if}
            #{else}
                ${_card?.dataOwners}
            #{/else}
            <br/><br/>
        </li>
    #{/if}
    #{if _card?.formats}
        <li>
            <strong>&{'page.opendataCard.formats'}</strong><br/>
            #{if _card2?.formats}
                ${_card?.formats.compare(_card2?.formats).raw()}
            #{/if}
            #{else}
                ${_card?.formats}
            #{/else}
            <br/><br/>
        </li>
    #{/if}
    #{if _card?.thematic}
        <li>
            <strong>&{'page.opendataCard.thematic'}</strong><br/>
            #{if _card2?.thematic}
                ${_card?.thematic.compare(_card2?.thematic).raw()}
            #{/if}
            #{else}
                ${_card?.thematic}
            #{/else}
            <br/><br/>
        </li>
    #{/if}
    #{if _card?.description}
         <li>
            <strong>&{'page.opendataCard.description'}</strong><br/>
            #{if _card2?.description}
                ${_card?.description.compare(_card2?.description).raw()}
            #{/if}
            #{else}
                ${_card?.description}
            #{/else}
        </li>
    #{/if}
</ul>