#{extends 'main.html' /} 
#{set title: messages.get('page.compare.title') /}

<div class="row">
    <div class="span4">
        <h1>${cardFrom?.created}</h1>
        <br/>
        #{card zoneId:zoneId, level:level, card:cardFrom, status:"true"/}
    </div>
    
    <div class="span4">
        <h1>&{'page.compare.diff'}</h1>
        <br/>
        #{card zoneId:zoneId, level:level, card:cardTo, status:"true", card2:cardFrom/}
    </div>
    
    <div class="span4">
        <h1>${cardTo?.created}</h1>
        <br/>
        #{card zoneId:zoneId, level:level, card:cardTo, status:"true"/}
    </div>
</div>