#{extends 'main.html' /} 
#{set title: "${name}" /}

<div class="row">
    <div class="span12">
        #{form @Card.save(), class:"form-horizontal"}
            <fieldset>
                <legend>&{'page.searchGeoZone.fiche'}</legend>
            
                #{ifErrors}
                    <div class="alert alert-error">
                        <strong>&{'error'}</strong>&{'error.checkform'}
                    </div>
                #{/ifErrors}
                 #{if flash.success}
                    <div class="alert alert-success">
                        ${flash.success}
                    </div>
                #{/if}
                
                <input type="hidden" name="zoneId" value="${zoneId}"/>
                <input type="hidden" name="level" value="${level}"/>
                <input type="hidden" name="name" value="${name}"/>
                <input type="hidden" name="card.name" value="${name}"/>
                <input type="hidden" name="card.lang" value="${card?.lang}"/>
                
                <div class="control-group #{ifError 'card.status'}error#{/ifError}">
                    <label class="control-label" for="status">&{'page.opendataCard.status'}</label>
                    <div class="controls">
                        #{if card?.status > 0}
                            #{select 'card.status', value:card.status, id:'status', class:'medium'}
                                #{option 0}N/A#{/option}
                                #{option 1}&{'page.opendataCard.status.inprogress'}#{/option}
                                #{option 2}&{'page.opendataCard.status.ok'}#{/option}
                            #{/select}
                        #{/if}
                        #{else}
                            #{select 'card.status', id:'status', class:'medium'}
                                #{option 0}N/A#{/option}
                                #{option 1}&{'page.opendataCard.status.inprogress'}#{/option}
                                #{option 2}&{'page.opendataCard.status.ok'}#{/option}
                            #{/select}
                        #{/else}
                        #{if errors.forKey('card.status')}
                            <span class="help-inline">#{error 'card.status' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.isThereCitizenMvt'}error#{/ifError}">
                    <label class="control-label" for="isThereCitizenMvt">&{'page.opendataCard.citizenMvt'}</label>
                    <div class="controls">
                        <input type="checkbox" id="isThereCitizenMvt" name="card.isThereCitizenMvt" value="1" #{if card?.isThereCitizenMvt}checked#{/if} />
                        #{if errors.forKey('card.isThereCitizenMvt')}
                            <span class="help-inline">#{error 'card.isThereCitizenMvt' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.url'}error#{/ifError}">
                    <label class="control-label" for="url">&{'page.opendataCard.url'}</label>
                    <div class="controls">
                        <input class="span6" type="text" id="url" name="card.url" placeholder="http://www.example.com" value="${card?.url}"/>
                        #{if errors.forKey('card.url')}
                            <span class="help-inline">#{error 'card.url' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.plateform'}error#{/ifError}">
                    <label class="control-label" for="plateform">&{'page.opendataCard.plateforme'}</label>
                    <div class="controls">
                        <input class="span6" type="text" id="plateform" name="card.plateform" placeholder="CKAN" value="${card?.plateform}"/>
                        #{if errors.forKey('card.plateform')}
                            <span class="help-inline">#{error 'card.plateform' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.numOfData'}error#{/ifError}">
                    <label class="control-label" for="numOfData">&{'page.opendataCard.numOfData'}</label>
                    <div class="controls">
                        <input class="span2" type="text" id="numOfData" name="card.numOfData" placeholder="0" value="${card?.numOfData}"/>
                        #{if errors.forKey('card.numOfData')}
                            <span class="help-inline">#{error 'card.numOfData' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.opening'}error#{/ifError}">
                    <label class="control-label" for="opening">&{'page.opendataCard.opening'}</label>
                    <div class="controls">
                        <input class="span2" type="text" id="opening" name="card.opening" placeholder="dd/mm/yyyy" value="${card?.opening?.format('dd/MM/yyyy')}"/>
                        #{if errors.forKey('card.opening')}
                            <span class="help-inline">#{error 'card.opening' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.lastUpdate'}error#{/ifError}">
                    <label class="control-label" for="lastUpdate">&{'page.opendataCard.lastUpdate'}</label>
                    <div class="controls">
                        <input class="span2" type="text" id="lastUpdate" name="card.lastUpdate" placeholder="dd/mm/yyyy" value="${card?.lastUpdate?.format('dd/MM/yyyy')}"/>
                        #{if errors.forKey('card.lastUpdate')}
                            <span class="help-inline">#{error 'card.lastUpdate' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.bernersLeeRate'}error#{/ifError}">
                    <label class="control-label" for="bernersLeeRate">&{'page.opendataCard.bernersLeeRate'}</label>
                    <div class="controls">
                        #{if card?.bernersLeeRate > 0}
                            #{select 'card.bernersLeeRate', value:card.bernersLeeRate, id:'bernersLeeRate', class:'small'}
                                #{option}N/A#{/option}
                                #{option 0.0}0#{/option}
                                #{option 0.5}0.5#{/option}
                                #{option 1.0}1#{/option}
                                #{option 1.5}1.5#{/option}
                                #{option 2.0}2#{/option}
                                #{option 2.5}2.5#{/option}
                                #{option 3.0}3#{/option}
                                #{option 3.5}3.5#{/option}
                                #{option 4.0}4#{/option}
                                #{option 4.5}4.5#{/option}
                                #{option 5.0}5#{/option}
                            #{/select}
                        #{/if}
                        #{else}
                            #{select 'card.bernersLeeRate', id:'bernersLeeRate', class:'small'}
                                #{option}N/A#{/option}
                                #{option 0.0}0#{/option}
                                #{option 0.5}0.5#{/option}
                                #{option 1.0}1#{/option}
                                #{option 1.5}1.5#{/option}
                                #{option 2.0}2#{/option}
                                #{option 2.5}2.5#{/option}
                                #{option 3.0}3#{/option}
                                #{option 3.5}3.5#{/option}
                                #{option 4.0}4#{/option}
                                #{option 4.5}4.5#{/option}
                                #{option 5.0}5#{/option}
                            #{/select}
                        #{/else}
                        #{if errors.forKey('card.bernersLeeRate')}
                            <span class="help-inline">#{error 'card.bernersLeeRate' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.license'}error#{/ifError}">
                    <label class="control-label" for="license">&{'page.opendataCard.license'}</label>
                    <div class="controls">
                        <input class="span6" type="text" id="license" name="card.license" placeholder="ODBl" value="${card?.license}"/>
                        #{if errors.forKey('card.license')}
                            <span class="help-inline">#{error 'card.license' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.description'}error#{/ifError}">
                    <label class="control-label" for="description">&{'page.opendataCard.description'}</label>
                    <div class="controls">
                        <textarea name="card.description" id="description" class="xxlarge" rows="3">${card?.description}</textarea>
                        #{if errors.forKey('card.description')}
                            <span class="help-inline">#{error 'card.description' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.thematic'}error#{/ifError}">
                    <label class="control-label" for="thematic">&{'page.opendataCard.thematic'}</label>
                    <div class="controls">
                        <textarea name="card.thematic" id="thematic" class="xxlarge" rows="3">${card?.thematic}</textarea>
                        #{if errors.forKey('card.thematic')}
                            <span class="help-inline">#{error 'card.thematic' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.dataOwners'}error#{/ifError}">
                    <label class="control-label" for="dataOwners">&{'page.opendataCard.dataOwners'}</label>
                    <div class="controls">
                        <textarea name="card.dataOwners" id="dataOwners" class="xxlarge" rows="3">${card?.dataOwners}</textarea>
                        #{if errors.forKey('card.dataOwners')}
                            <span class="help-inline">#{error 'card.dataOwners' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.formats'}error#{/ifError}">
                    <label class="control-label" for="formats">&{'page.opendataCard.formats'}</label>
                    <div class="controls">
                        <textarea name="card.formats" id="formats" class="xxlarge" rows="3">${card?.formats}</textarea>
                        #{if errors.forKey('card.formats')}
                            <span class="help-inline">#{error 'card.formats' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'card.contacts'}error#{/ifError}">
                    <label class="control-label" for="contacts">&{'page.opendataCard.contacts'}</label>
                    <div class="controls">
                        <textarea name="card.contacts" id="contacts" class="xxlarge" rows="3">${card?.contacts}</textarea>
                        #{if errors.forKey('card.contacts')}
                            <span class="help-inline">#{error 'card.contacts' /}</span>
                        #{/if}
                    </div>
                </div>
                
             </fieldset>
             
             <fieldset>
                <legend>&{'page.searchGeoZone.commit'}</legend>
                
                <div class="control-group #{ifError 'isMajor'}error#{/ifError}">
                    <label class="control-label" for="isMajor">&{'page.opendataCard.commit.isMajor'}</label>
                    <div class="controls">
                        <input type="checkbox" id="isMajor" name="isMajor" value="1" checked />
                        #{if errors.forKey('isMajor')}
                            <span class="help-inline">#{error 'isMajor' /}</span>
                        #{/if}
                    </div>
                </div>
                
                <div class="control-group #{ifError 'comment'}error#{/ifError}">
                    <label class="control-label" for="comment">&{'page.opendataCard.commit.description'}</label>
                    <div class="controls">
                        <textarea name="comment" id="comment" class="xxlarge" rows="3">${comment}</textarea>
                        #{if errors.forKey('comment')}
                            <span class="help-inline">#{error 'comment' /}</span>
                        #{/if}
                    </div>
                </div>
            
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">&{'page.opendataCard.save'}</button>
            </div>
            
        #{/form}    
    
    </div>

</div>