#{extends 'main.html' /} 
#{set title:'A propos' /}

<div class="row">
    <div class="span10">
        &{'page.about.txt'}
    </div>
    <div class="span4">
        <h2>&{'page.about.thanks'}</h2>
        <p>&{'page.about.thanks.txt'}</p>
        <ul>
            <li>@logisima (Benoît Simard)</li>
            <li>@Libertic (Claire)
            <li>@amnesic</li>
            <li>O'Shea Sean</li>
            <li>Vautier Emmanuel</li>
            <li>@flxlepoutr</li>
            <li>@auregann</li>
        </ul>
    </div>
</div>