#{extends 'main.html' /} 
#{set title:messages.get('page.about') /}

<div class="row">
    <div class="span8">
        <h2>&{'page.about.demarche'}</h2>
        &{'page.about.demarche.txt'}
        <h2>&{'page.about.tech'}</h2>
        &{'page.about.tech.txt'}
    </div>
    <div class="span4">
        <h2>&{'page.about.thanks'}</h2>
        <p>&{'page.about.thanks.txt'}</p>
        <ul>
            <li>@logisima (Benoît Simard)</li>
            <li>@Libertic (Claire)</li>
            <li>@amnesic</li>
            <li>O'Shea Sean</li>
            <li>Vautier Emmanuel</li>
            <li>@flxlepoutr</li>
            <li>@auregann</li>
        </ul>
    </div>
</div>