<html>
    <head>
        <title>${title}</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bubble.css'}">
    </head>
    <body>
        <div class="bubble">
            <div class="title">
                <div >
                    <h2>${title}</h2>
                    <img src="@{'/public/images/picto_ville.png'}" />
                </div>
                <p><span class="lastUpdate">&{'bubble.dateUpdate'}</span> ${dateMaj}</p>
            </div>
            
            <div class="zone">
                <ul>
                    <li><span class="important">&{'bubble.site'}</span> <a href="${url}" title="${title}">${url}</a></li>
                    <li><span class="important">&{'bubble.nbData'}</span> ${nbData}</li>
                </ul>
            </div>
            
            <div class="zone">
                <h3>&{'bubble.thematique'}</h3>
            </div>
            
            <div class="zone">
                <h3>&{'bubble.licence'}</h3>
                <p>
                    ODbL (Open Database Licence)
                </p>
            </div>
            
        </div>
    </body>
</html>