#{extends 'main.html' /} 
#{set title:'Accueil' /}

<div class="row">
    <div class="span8">
        <h2>&{'page.home.edito'}</h2>
        &{'page.home.edito.txt'}
        <br/>
        <h2>&{'page.home.lastupdate'}</h2>
        <ul>
            #{list items:cards, as:'card'}
                <li>
                    <!-- 
                    #{if card.commit.user}
                        <span class="label">
                            <a class="label-link" href="@{User.view(card.commit.user.id)}" title="${card.commit.user.displayName}">
                                ${card.commit.user.displayName}
                            </a>
                        </span>
                        &nbsp;
                    #{/if}
                     -->
                    <strong>${card.name}</strong>
                    #{if card.commit.description}
                        : ${card.commit.description}    
                    #{/if}
                    #{if card.commit.isFirst}
                        <span class="label label-important">&{'page.home.new'}</span> 
                    #{/if}
                    #{else}
                        <span class="label label-info">&{'page.home.update'}</span>
                    #{/else}
                </li>
            #{/list}
        </ul>
    </div>
    #{cache 'liberticRSS', for:'2h'}
    <div class="span4">
        <h2>&{'page.home.libertic.rss'}</h2>
        <p>&{'page.home.libertic.rss.txt'}</p>
        <ul>
            #{list items:myFeeds, as:'feed'}
	        	<li>
	        		<a href="${feed.link}" title="${feed.title}">${feed.title}</a>
	        	</li>
	        #{/list}
        </ul>
    </div>
    #{/cache}
</div>