#{extends 'main.html' /} #{set title:'Accueil' /}
<div class="row">
    <div class="span10">
        <h2>&{'page.home.edito'}</h2>
        &{'page.home.edito.txt'}
    </div>
    <div class="span4">
        <h2>&{'page.home.libertic.rss'}</h2>
        <p>&{'page.home.libertic.rss.txt'}</p>
        <ul>
            #{list items:myFeeds, as:'feed'}
	        	<li>
	        		<a href="${feed.link}" title="${feed.title}">${feed.title}</a>
	        	</li>
	        #{/list}
        </ul>
    </div>
</div>