<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="@{'/public/bootstrap/css/bootstrap.min.css'}" />
<link type="text/css" rel="stylesheet" href="@{'/public/bootstrap/css/bootstrap-responsive.min.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="@{Application.index()}">
                <span style="color:#84B6DE">Liber</span>TIC
                <img src="@{'/public/images/logo_libertic.png'}" width="17px" title = "Libertic"/>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
                #{if menu.equals('index')}<li class="active">#{/if}#{else}<li>#{/else} 
                    <a href="@{Application.index()}">&{'page.home'}</a>
                </li>
                #{if menu.equals('map')}<li class="active">#{/if}#{else}<li>#{/else} 
                    <a href="@{Map.index()}">&{'page.map'}</a>
                </li> 
                #{if menu.equals('about')}<li class="active">#{/if}#{else}<li>#{/else} 
                    <a href="@{Application.about()}">&{'page.about'}</a>
                </li> 
                #{if menu.equals('contact')}<li class="active">#{/if}#{else}<li>#{/else} 
                    <a href="@{Application.contact()}">&{'page.contact'}</a>
                </li>
            </ul>
            <ul class="nav" style="float:right;">
                    #{if user != null}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user icon-white"></i>
                                ${user.displayName}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@{securesocial.SecureSocial.logout()}">&{'securesocial.logout'}</a></li>
                            </ul>
                        </li>
                    #{/if}
                    #{else}
                        <li>
                            <a href="@{securesocial.SecureSocial.login()}">&{'page.login'}</a>
                        </li>
                    #{/else}
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h1>#{get 'title' /}</h1>
            </div>
            #{doLayout /}
        </div>
        <footer>
            <p>&{'footer'}</p>
        </footer>
    </div>
    <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}"></script>
    <script src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>
    #{get 'moreScripts' /}
    <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-27675683-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
