#{extends 'main.html' /} 
#{set title: messages.get('page.map') /}

#{set 'moreStyles' }
    <link rel="stylesheet" href="@{'/public/javascripts/openlayers/theme/default/style.css'}" type="text/css" />
    
#{/set}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/openlayers/OpenLayers.js'}"></script>
    <script src="@{'/public/javascripts/opendata-map.js'}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    	init('${wmsurl}', '&{'page.map.dataloading'}');
    });        	
    </script>
#{/set}


<div class="row">
    <div class="span7">
        
        <div id="map" class="smallmap">
        </div>
        
        <div id="legende">
            <strong>&{'page.map.legende'}: </strong>
            <span class="legende" style="background-color:#BEE669">&nbsp;&nbsp;&nbsp;&nbsp;</span> &{'page.map.legende.ok'}
            <span class="legende" style="background-color:#89C0DE">&nbsp;&nbsp;&nbsp;&nbsp;</span> &{'page.map.legende.inprogress'}
            <span class="legende" style="background-color:red">&nbsp;&nbsp;&nbsp;&nbsp;</span> &{'page.map.legende.citizenMvt'}
        </div>
        <div id="mapbar">
            <a href="javascript:getImageMap()" title="Télécharger la carte" ><i class="icon-camera"></i></a>
        </div>
    </div>
    <div class="span5">
        <div id="card">
            &{'page.map.help'}
        </div>
    </div>
</div>